/*Estilo del index*/ 
header{
    background: #fefefe;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 2em auto;
}

header h1{
    color: rgb(3, 3, 97);
    font-weight: bold;
    font-size: 40px;
    font-family: "Anta", sans-serif;
    position: absolute;
    top: 110px;
    right: 0;
}

.area-encriptado{
    background: linear-gradient(#fefefe,#b3b5b8);
}

.indicaciones{
    margin: 3em 0 0 40px;
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(3, 3, 97);
}

::placeholder{
    color: rgb(15, 17, 114);
}

.entrada-texto{
    font-family: "Anta", sans-serif;
    color: rgb(15, 17, 114);
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    width: 380px;
    height: 430px;
    margin: 2em 200px 1em 80px;
    transition: 1s;
    resize: none;
}

.entrada-texto:hover{
    font-size: 18.5px;
}

.salida-texto{
    font-family: "Anta", sans-serif;
    color: rgb(15, 17, 114);
    font-size: 18px;
    font-weight: bold;
    border: none;
    background:#dcdcdc;
    box-shadow: 2px 3px 3px 3px #848484;
    outline: none;
    border-radius: 10px;
    width: 380px;
    height: 430px;
    transition: 1s;
    resize: none;
}

.salida-texto:hover{
    font-size: 18.5px;
    width: 385px;
    height: 435px;
}

.area-respuesta{
    background: linear-gradient(#b3b5b8,#848484);
    padding: 50px 0 125px 0;
}

.botones{
    display: inline;
    padding: 0 265px 0 80px;
}

.tam-botones{
    border: none;
    border-radius: 5px;
    background: #dcdcdc;
    font-family: "Anta", sans-serif;
    color: rgb(15, 17, 114);
    font-size: 18px;
    width: 15%;
    height: 40px;
    cursor: pointer;
    transition: 500ms;
    font-weight: bold;
}

.tam-botones:hover{
    font-size: 19px;
    width: 16%;
    height: 42px;
}

footer{
    text-align: center;
    background: #848484;
}

.imagen-candado{
    transition: 1s;
}

.imagen-candado:hover{
    width: 20%;
    height: 20%;
}

#candado-chico:hover{
    width: 8%;
    height: 8%;
}

.autor{
    font-family: "Anta", sans-serif;
    font-size: 13px;
    padding: 40px;
    transition: 1.5s;
}

.autor:hover{
    font-size: 14px;
}
