/*Estilo del index*/ 

body{
    font-family: 'Montserrat', sans-serif;
 }

header{
    text-align: right;
    background: #bbbbbb;
}

main{
    background: #fefefe;
}

.area-encriptado{
    width: 940px;
    margin: 2em auto;
}

.indicaciones{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: rgb(15, 17, 114);
}

.entrada-texto{
    display: inline block;
    font-size: 20px;
    color: rgb(38, 38, 206);
    border: 2px solid #fefefe;
    background: #fefefe;
    padding: 20px 2px;
    cursor: pointer;
    outline: none;
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: rgb(38, 38, 206);
    font-size: 1em;
}

.area-respuesta{
    width: 940px;
    margin: 0 auto;
}

.salida-texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(38, 38, 206);
    margin: 0 0 0 400px;
    border: 5px solid #fefefe;
    border-radius: 10px 10px 10px 10px;
    padding: 0 5em 20em 0;
    box-shadow: 5px 5px 15px 5px #464545;
    outline: none;
}

.botones{
    display: inline-block;
    padding: 50px 40px;
}

.boton-copiar{
    margin: 0 0 0 495px;
}

footer{
    padding: 40px;
    background: #bbbbbb;
}

.imagen-footer{
    transition: 1s;
}

.imagen-footer:hover{
    opacity: 20%;
}
